div {
    align-items: center;
    margin: auto;
    border-radius: 10px;
    border: 2px solid grey;
    background-image: url("hand.jpg");
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
    padding: 50px;
    width: fit-content;
}
h1 {
    background-color: beige;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 20px;
}

